
#about{
    padding: 80px 0;
    color: #ffffff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutcol1{
    flex-basis: 35%;
    margin-top: 2%;
}
.aboutcol1 img{
    width: 85%;
    border-radius: 20px;
}
.aboutcol2 {
    flex-basis:65% ;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color:#f8f8f8;
}
.tabtitles{
    display: flex;
    margin: 20px 0 40px;
}
.tablinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tablinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: #c34d0a;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.15s;
}

.tablinks.activelink::after{
    width: 50%;
}
.tabcontents ul li{
    list-style: none;
    margin: 10px 0;

}
.tabcontents ul li span{
    color: #dc791c;
    font-size: 14px;
}

.tabcontents{
    display: none;
}

.tabcontents.activetab{
    display: block;
} 