nav .fa-solid{
    display: none;
}


@media only screen and (max-width :600px){
    .header{
        background-image: url(../Images/PhoneBackground.png);
    }
    .headertext{
        margin-top: 50%;
        font-size: 16px;
    }
    .headertext h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #e38e05;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;

    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle{
        font-size: 40px;
    }
    .aboutcol1, .aboutcol2{
        flex-basis: 100%;

    }
    .aboutcol1{
        margin-bottom: 30px;

    }
    .aboutcol2{
        font-size: 14px;

    }
    .tablinks{
        font-size: 16px;
        margin-right: 20px;
    }

    .contactleft, .contactright{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}