#posts{
    padding: 30px 0;

}
.postslist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.postslist div{
    background: #3F3F46;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
}

.postslist div i{
    font-size: 50px;
    margin-bottom:30px ;
}

.postslist div h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 15px 0px;
}

.postslist div a{
    text-decoration: underline;
    color: white;
    font-size: 15px;
    margin: 20px 0px;
    display: inline-block;
}

.postslist div:hover{
    background:#f97316;
    transform: translatey(-10px);
}